apiVersion: v1
kind: Pod
metadata: 
  name: dk
  labels:
    app: nginx
spec: 
  containers:
    - name: mycontainer
      image: nginx
      ports: 
        - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: myservice
spec:
  selector:  
    app: nginx
  type: ClusterIP
  ports:
  - port: 80
    protocol: TCP  
    targetPort: 80

---




