apiVersion: v1
kind: Pod
metadata: 
  name: dk
  labels:
    app: tomcat
spec: 
  containers:
    - name: mycontainer
      image: tomcat
      ports: 
        - containerPort: 8080

---

apiVersion: v1
kind: Service
metadata:
  name: myservice
spec:
  selector:  
    app: tomcat
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP  
    targetPort: 8080
    nodePort: 30500
---




